.navbar {
    background-color: #00BCAC;
}
.nav-link {
    font-size: 1.3rem;
}

a {
    color: white;
}

.headerCard {
    width: 50%;
    height: 4rem;
}

.headerBotron {
    background-color: #DFDBE3;
}

.headerBotron p{
    font-size: 1.3rem;
    font-weight: lighter;
}
.headerBotron > span {
    font-style: italic;
    font-weight: bold;
}

.footerBotron {
    background-color: #00BCAC;
}

.footerBotron ul {
    list-style-type: none;
}

