.navbar {
    background-color: #00BCAC;
}

a {
    color: white;
}

.footerBotron {
    background-color: #00BCAC;
}

.footerBotron ul {
    list-style-type: none;
}

.headerBotron {
    background-color: #DFDBE3;
}